{% extends 'base.html.twig' %}
{% block body %}
<div class="new-poll_view">
  <div class="card new-poll-card">
    {{ form_start(form) }}
    {{ form_widget(form.title, {'attr': {'class': 'new-poll-title','placeholder': 'Title...'}}) }}
    <p class="footnote secondary poll__instruction">Country</p>
    {{ form_widget(form.country, {'attr': {'class': 'new-poll__select'}}) }}
    <button class="button-primary button auth-button">
      <div class="material-icons-round button__icon">
        add_circle
      </div>
      {{ button_label|default('Create Poll') }}
    </button>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}