{% extends 'base.html.twig' %}
{% block body %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <h1>Create a poll ✏️ </h1>
    <h2>Step 2: choose the different response options. (max. 6)</h2>
</div>
<div class="new-poll_view">
    <div class="card new-poll-card">
        <h2>{{poll.title}}</h2>
        {% if poll.options|length == 6 %}
        <p>You reached the maximum amount of options allowed per poll.</p>
        {% endif %}
        {% if poll.options|length < 6 %}
        {{ form_start(form) }}
        {{ form_widget(form.name, {'attr': {'placeholder': 'New option...'}}) }}
        <button class="button-primary button auth-button">
            <div class="material-icons-round button__icon">
                add_circle
            </div>{{ button_label|default('Save') }}
        </button>
        {{ form_end(form) }}
        {% endif %}
        {% for option in poll.options %}
        <div style="background: #F8EBFF; margin-top: 10px; border-radius: 12px 12px 0px 0px;">
            <form method="post" action="{{ path('options_delete', {'id': option.id}) }}"
                onsubmit="return confirm('Are you sure you want to delete this item?');">
                <div style="margin: auto">{{option.name}}</div>
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
                <button class="btn" style="background: #F8EBFF; border-radius: 12px;">
                    <div class="material-icons-round remove-option-icon" style="color: #af52de">
                        remove_circle
                    </div>
                </button>
            </form>
        </div>
        <div>
            {% endfor %}
            <a href="{{ path('confirmation', {'id': poll.id}) }}" style="text-decoration: none;">
                <div class="button-primary button auth-button">Finish</div>
            </a>
        </div>
    </div>

    {% endblock %}